// Variables
$dark-color: #000;
$flower-color: #ff69b4; // Change to your desired flower color
$leaf-color: #32cd32; // Change to your desired leaf color

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 100vh;
  background-color: $dark-color;
  overflow: hidden;
  perspective: 1000px;
}

.night {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  filter: blur(0.1vmin);
  background-color: rgba(0, 0, 0, 0.5);
}

.flowers {
  position: relative;
  transform: scale(0.9);
}

// Flower styles
.flower {
  position: absolute;
  bottom: 10vmin;
  transform-origin: bottom center;
  z-index: 10;
  animation: moving-flower 4s linear infinite;

  &__leaf {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 8vmin;
    height: 11vmin;
    border-radius: 50%;
    background-color: $leaf-color;
    opacity: 0.9;
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5);
  }

  &__line {
    height: 55vmin;
    width: 1.5vmin;
    background-color: $flower-color;
    animation: grow-flower-tree 4s backwards;
  }
}

// Add more styles as needed...

@keyframes moving-flower {
  0%,
  100% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
}
